<div class="shop-index">
  <div class="search">
    <div class="form-inline">
    <%= form_tag(shops_path, :method => 'get' ) do %>
      <%= text_field_tag :search,params[:search], class: "form-control shadow-sm",placeholder: "地域で検索　例：横浜" %>
      <%= submit_tag ' 検索 ', :address => nil, class: "btn-success btn-lg rounded-circle p-1 shadow-sm" %>
    <% end %>
    </div>
  </div>
  <div class="shops">
    <div class="container">
      <div class="row">
          <% @shops.each do |shop| %>
            <div class="col-lg-4 md-4"style="margin-bottom:50px;">
               <div class="card">
                <%= attachment_image_tag shop, :shop_image, size:'100x250',class: "card-img-top",fallback: "no_image.png"%>
                  <div class="card-body">
                   <p class="card-address"><i class="fas fa-map-marker-alt"></i><%= shop.address %></p>
                    <p class="card-title"><%= link_to shop_path(shop.id) do %><%= shop.shop_name %></p>
                    <% end %>
                    <% if user_signed_in? %>
                    <% if !Favorite.exists?(user_id:current_user.id, shop_id:shop.id) %>
                    <%= link_to "お気に入り登録",shop_favorites_path(shop),method: :post,class: "btn-outline-warning" %>
                    <% else %>
                    <% end %>
                    <% end %>
                  </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>