<div class="container-fluid">
	  <div class= "row">
		<div class="carousel slide carousel-fade" data-ride="carousel">
		   <div class="carousel-inner">
			    <div class="carousel-item active">
			    	<div class="logo">
				    	<h3>Cafenavi</h3><br>
				    	<h1>KOMINKA</h1>
			    	</div>
			    	<div class="index-button">
			    	<%= link_to "古民家カフェを探す", shops_path, class: "btn btn-warning rounded-pill btn-lg" %>
			    	</div>
			      <%= image_tag("photo1.jpg",:size =>'1280x520') %>
			    </div>
			    <div class="carousel-item">
			    	<div class="logo">
				    	<h3>Cafenavi</h3><br>
				    	<h1>KOMINKA</h1>
			    	</div>
			    	<div class="index-button">
			    	<%= link_to "古民家カフェを探す", shops_path, class: "btn btn-warning rounded-pill btn-lg" %>
			    	</div>
			     <%= image_tag("photo2.jpg", :size =>'1280x520') %>
			    </div>
			    <div class="carousel-item">
			    	<div class="logo">
				    	<h3>Cafenavi</h3><br>
				    	<h1>KOMINKA</h1>
			    	</div>
			    	<div class="index-button">
			    	<%= link_to "古民家カフェを探す", shops_path, class: "btn btn-warning rounded-pill btn-lg" %>
			    	</div>
			      <%= image_tag("photo4.jpg", :size =>'1280x520') %>
		    </div>
		  </div>
		</div>
	  </div>
</div>
<div class="about">
	<div class="about-title">
		<h2>Cafenavi  KOMINKAについて</h2>
		<div class="introduction">
			<p>「古民家」とは、建築年数がかなり経過した日本の民家です。伝統的な日本の家とも言われています。<br>
				古民家は、材木の組み合わせと土壁で構成された建築物のため、再生が簡単にできるという強みがあり、古い部分を新しいものと取り替える、間取りを変更するなど、実は柔軟にできる構造の建物です。<br>
				そのため、店鋪として再利用されることが多くなってます。<br>
				このサイトは、穏やかな時間を過ごしたい、懐かしさを感じたい、日本の伝統に触れたいという方達が簡単に古民家カフェを探せるだけでなく、日本の伝統建築でカフェの経営を始めた方たちの宣伝のために使うことができます。
			</p>
		</div>
	</div>
</div>
<div class="photo-panel">
	<div class="photo">
		<div class= "row">
			<div class="col-ld-4 md-3"><%= image_tag("photo3.jpg") %></div>
			<div class="col-ld-4 md-3"><%= image_tag("photo6.jpg") %></div>
			<div class="col-ld-4 md-3"><%= image_tag("photo7.jpg") %></div>
		</div>
	</div>
</div>
