<sectin>
	<table class="table">
  	 <thead>
      <tr>
	   <th>会員一覧</th>
      </tr>
  	 </thead>
  	 <tbody>

		<% @users.each do |user| %>
	<tr>
	   <td>
       <%= attachment_image_tag user, :profile_image, size:'70x70', fallback: "no_image.png" %>
       <%= user.name %>
       <%= user.created_at %>
      </td>
	   <td><%= link_to "会員詳細", user_path(user.id), class: "btn btn-outline-primary" %>
         <%= link_to "ユーザー消去" ,admin_user_path(user.id), method: :delete, "data-confirm" => "削除しますか?", class: "btn btn-outline-danger" %>
     </td>
    </tr>
    <% end %>
    </tbody>
 </table>
</sectin>